<section class="features">
  <h2>Proyecto: Sistema de Gestión de Eventos</h2>
  <div class="mx-5">
    <p class="Descripcion">
      Descripción: Desarrollar un sistema básico de gestión de eventos para una
      comunidad local que permita a los organizadores administrar la información
      de los eventos, como nombre, fecha, ubicación y descripción. Los usuarios
      podrán ver una lista de eventos próximos, registrarse para asistir a un
      evento y luego confirmar su participación, así como también descargar un
      certificado de participación.
    </p>
  </div>
  <div class="mx-5">
    <div class="row align-items-center justify-content-center">
      <div class="col ">
        <p-carousel
          [value]="features"
          [numVisible]="3"
          [numScroll]="1"
          [circular]="true"
          autoplayInterval="3000"
        >
          <ng-template let-feature pTemplate="item">
            <div class="feature-card">
              <h3>{{ feature.title }}</h3>
              <p>{{ feature.description }}</p>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</section>
