// Establece las variables antes de importar los componentes
$primary: #900;  // Define tu color principal
$enable-shadows: true;  // Activa sombras globales
$prefix: "mo-";  // Prefijo personalizado

// Luego importa los módulos que necesitas (en este caso, solo el sistema de grid)
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";


// Optional components
@import "../node_modules/bootstrap/scss/utilities";
/* @import "../node_modules/bootstrap/scss/reboot"; */
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";


@import "primeicons/primeicons.css";
